body {
  padding-top: 0px;
 /* body padding for fixed top nav */
}

/* FONTS */

H1, H2, H3, H4, H5, H6{
	color: #00808D;
}

/* LINKS */

a{
	color:#F15D07;
}

a:hover{
	color:#F9F1DA;
}
/* NAV BAR */



.navbar-inverse .navbar-nav > li > a,.navbar-inverse .navbar-brand {
	color: #F9F1DA;
}

.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-brand a:hover{
	color: #F15D07;
}

/* SLIDER */

.carousel-caption h1 {
	color:#fff;
}

/* FEATURETTE */

.featurette-divider {
	margin: 40px 0;
}

.text-muted {
color: #26A2AF;
}