body {
	padding-top: 0px;
  	color: #685745;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.65;
  	background: #e1dec7 url(../images/bg-body.jpg)

}

/* FONTS */

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	color:#005f7e;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0; 
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; 
}

h3 {
  font-size: 1.17em;
  margin: 1em 0; 
}

h4 {
  font-size: 1em;
  margin: 1.33em 0; 
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; 
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; 
}

/* LINKS */

a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #cc6633;}


/* LIST */

dl, menu, ol, ul {margin: 1em 0; }

dd {margin: 0 0 0 40px; }

menu, ol, ul {padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; 
}

/* GENERAL */

.container {background-color: #fff;}

.left {float:left;}

.right{float: right;}


/* NAV BAR */

.navbar-default {
	background-color: #fff;
	border-color: #fff;
}

.navbar-nav.navbar-right {margin-top: 40px;}

/* EXPLORATION PAGE */

.search-results-map{margin-bottom:30px;}

.search {
	padding-left: 20px;
}

.search label{font-weight: normal;}

.search td:first-child{float: right;}

.search td:nth-child(2){padding-left: 10px;}

.search-results-paginagtion p{
	font-size:20px;
	font-weight:bold;
	margin: 0 0 25px 45px;
}

.search-pagination ul{float:right;}

.job-entry {margin-bottom:40px;}

.job-entry h3 {margin-top:0;}

.job-descrip td:first-child{font-weight: bold;}

/* OPPORTUNITY PAGE */

.job-details ul{
	background-color: #d1cdb2;
	list-style:none;
    padding:5px 0;

}

.job-details li {
	display: inline;
	padding:0 20px;
	color:#fff;
	font-weight:bold;
	margin: 20px 0;
}

.search, .applicable-sidebar{
	background-color: #e1dec7;
	background-image: url(../images/bg-tan-edge-top.gif), url(../images/bg-tan-edge-bottom.gif);
    background-position: 0 0, 0 bottom;
    background-repeat: repeat-x, repeat-x;
    margin-bottom: 20px;
    padding: 10px 0;
}

.btn.applicable-button {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}

.save {background-color: #40a7ca;}
.inquire {background-color: #2380a0;}
.apply {background-color: #005f7e;}


/* FOOTER */

.top-footer{
	background: #fff url(../images/bg-footer-panel-home-lg.png) 0 0 repeat-x;
	height: 120px;
	margin-top: 20px;
}


.footer {
	background-color: #685744;
	color: #d1cdb2;
	padding:20px 0;
}

.footer a{color: #fff;}

.footer a:hover{text-decoration: underline;}













/* SLIDER */

/*.carousel-caption h1 {
	color:#fff;
}

@media screen and (min-width: 768px){
.carousel-caption {
right: 20%;
left: 20%;
padding-bottom: 100px;
}

*/
/* FEATURETTE */

/*.featurette-divider {
	margin: 40px 0;
}

.text-muted {
color: #26A2AF;
}

.result-table {
	display: table-row-group;
}
.result-table-row {
	display: table-row-group;
}
.result-table-header {
	display: table-header-group;
}

.result-table-cell-1, .result-table-cell-2{
	min-width: 40px;
	display: table-cell;
	padding: 10px 25px 10px 10px;
}

.modal {
	width:50%;
	height:70%;
	margin-left: auto;
	margin-right: auto;
}
.modal.fade.in {
    top:5%;
}
.modal-header {
	border-radius: 6px 6px 0 0;
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	background-color: white;
}
.modal-body {
	position: relative;
	overflow-y: auto;
	max-height: 400px;
	padding: 15px;
	background-color: white;
}
.modal-footer {
	padding: 14px 15px 15px;
	margin: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}

.pref {
	overflow:auto;
}

label {
	font-weight:normal;
}

.btn-group{
	float:right;
}*/