body {
	background-color: #ccc;
	margin: 0;
	padding: 0;
}
#map { position:absolute; top:0; bottom:0; width:100%; }

.main-container {
	height:600px;
}
.main-display {
	margin-top: 60px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
}
.sub-nav, .main-nav {
	min-height: 600px;
}
.pc-logo {
	margin-top:10px;
	padding:5px 20px 5px 20px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
	height:30px
}

.center-icon-grid {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.icon-grid {
	display: inline-block;
	width:180px;
	padding:20px;
}
.icon-grid-img img {
	height:120px;
	width:120px;
	border-radius: 100px;
}
.icon-grid button {
	width: 120px;
	margin-top:10px;
}
.stage1, .stage2 {

}
.next{
	position: absolute;
	top:50%;
	right:0;
}


