body {
	background-color: #000;
	margin: 0;
	padding: 0;
}
#map { position:absolute; top:0; bottom:0; width:100%; }

.main-container {
	height:600px;
}
.main-display {
	margin-top: 60px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	overflow: auto;
}
.main-display h1 {
	margin-bottom: 30px;
}
.sub-nav, .main-nav {
	min-height: 600px;
}
.pc-logo {
	margin-top:10px;
	padding:5px 20px 5px 20px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
	height:30px
}
.center-icon-grid {
	width: 1000px;
	height: 10px;
	margin-right: auto;
	margin-left: auto;
}
.icon-grid {
	display: inline-block;
	width:180px;
	padding: 1px;
	margin-bottom:30px;

}
.icon-grid-img img {
	height:120px;
	width:120px;
	border-radius: 100px;
}
.icon-grid button {
	width: 120px;
	margin-top:10px;
}
.stage1, .stage2 {

}
.next{
	background-color: #cd621a;
	border:none;
	position: absolute;
	top:50%;
	right:0;
}
.next:hover {
	background-color: #b04d0a;
}

/* MEDIA QUERIES */

@media (min-width: 992px){



} /*end of media query*/



@media (max-width: 992px){


} /*end of media query*/



@media (max-width: 768px){

.column-row {}
} /*end of media query*/



@media (max-width: 480px){

.icon-grid-img img {display: none;}
.icon-grid { margin-bottom: 0px;}
} /*end of media query*/